<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744776842476-1o31s0g95nis0c3kdkmtgtvn6snepqor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744776842476-1o31s0g95nis0c3kdkmtgtvn6snepqor</string>
	<key>API_KEY</key>
	<string>AIzaSyDGC29wN5Kn2LrfNADjExp5RLSOK1NGdyk</string>
	<key>GCM_SENDER_ID</key>
	<string>744776842476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fapp</string>
	<key>PROJECT_ID</key>
	<string>food-calories-app-fc6d5</string>
	<key>STORAGE_BUCKET</key>
	<string>food-calories-app-fc6d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744776842476:ios:f4fb87eb893d1140fd39c9</string>
</dict>
</plist>